language: php
php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
before_install:
  - pear install pear/PHP_CodeSniffer
  - phpenv rehash
before_script:
  - git clone --branch=master --depth=1 --quiet git://github.com/WoltLab/WCF.git WCF
script:
  - find lib -type f -name '*.php' |xargs -I file php -l file
  - phpcs -p --extensions=php --standard="/root/WCF/CodeSniff/WCF" --ignore="api/" lib